<div class="container">
    <div>
        <div class="text-center mt-2 mb-2"><img src="../../assets/pizza.jpg" width="100px" height="100px"></div>
        <h1 class="text-center"><b>Pizza Order List </b></h1>
    </div>
    <div class="mat-elevation-z8">
        <table class="next-card-table" mat-table [dataSource]="dataSource" matSort style="width: 100%;">

            <!-- CustomerName Column -->
            <ng-container matColumnDef="customerName">
                <th mat-header-cell *matHeaderCellDef><b>Customer Name</b> </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/order-details']">
                        {{element.customerName}} </a>
                </td>
            </ng-container>

            <!-- No of items order Column -->
            <ng-container matColumnDef="noOfItems">
                <th mat-header-cell *matHeaderCellDef class="text-center"><b>No. of Pizza ordered</b></th>
                <td mat-cell class="text-center" *matCellDef="let element" widh> {{element.noOfItems}}
                </td>
            </ng-container>

            <!-- Total Amount Column -->
            <ng-container matColumnDef="totalAmount">
                <th mat-header-cell *matHeaderCellDef class="text-center"><b> Total Amount </b></th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.totalAmount}}/-</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-center"> <b>Status </b></th>
                <td mat-cell *matCellDef="let element" class="text-center">
                    <button mat-raised-button (click)="cellselect(element)" [ngClass]="{'button-primary':element.action === 'Order Received',
               'button-warning':element.action === 'Preparing','button-success':element.action === 'Ready to Serve'}">
                        {{element.action}}</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>