.button-primary{
    color: #fff;
    background-color:  #007bff!important;
}

.button-warning{
    color: #fff;
    background-color:  #ffc107!important;
}

.button-success{
    color: #fff;
    background-color:  #28a745!important;
}

img {
    border-radius: 50%;
}

.container{
    background-image: url("http://7-themes.com/data_images/out/24/6851905-pizza.jpg");  
}