<div class="container">
    <p class="text-lg mt-3"><b>Order Details</b></p><hr>
    <div class="row">
        <div class="col-md-3 border-right">
          <mat-card class="card">
            <p class="text-sm text-grey"><b>Customer Info: </b></p>
            <p class="text-xs mb-1"><b>Demel Leyonal</b></p>
            <p class="text-light-grey text-xs mb-1">#121, 2nd floor, Tavarekere main Rd, BTM, Bangalore - 560026</p>
            <p class="text-xs"><span>Contact: </span><span class="text-grey">99XXXX4567</span></p>
          </mat-card>
            <hr>
            <p class="text-sm"><b>Pizza Making Tips:</b></p>
            <p class="mb-2 text-xs text-light-grey min-line-height">1. Use heavy and dark-coloured pizza pans</p>
            <p class="mb-2 text-xs text-light-grey min-line-height">2. Coat pizza pan generously with olive oil</p>
            <p class="mb-2 text-xs text-light-grey min-line-height">3. Go easy on the sauce</p>
            <p class="mb-2 text-xs text-light-grey min-line-height">4. Sprinkle cheese over the sauce before other toppings</p>
            <p class="mb-2 text-xs text-light-grey min-line-height">5. Add fresh herbs after baking</p>
            <p class="mb-2 text-xs text-light-grey min-line-height">6. Dont overload your pizza with toppings</p>
            <p class="mb-2 text-xs text-light-grey min-line-height">7. turn the oven up HIGH</p>
            <p class="mb-2 text-xs text-light-grey min-line-height">8. Check for air bubbles while pizza bakes</p>
          </div>
        <div class="col-md-9">
            <p class="text-lg text-grey"><b>Items:</b></p>
            <div class="row">
                <div class="col-md-10">
                    <div class="flex">
                        <div class="px-2">
                            <div class="img-container">
                                <img class="item-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRscGHT4eNXw1ykTkwoKBtM965Xtjncq8q14A&usqp=CAU">
                            </div>
                        </div>
                        <div class="px-2">
                            <p class="text-sm mb-1"><b>Chicken Pizza</b></p>
                            <p class="text-grey">Grilled chicken sauteed with broccoli & alfredo over linguini</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="float-right amt-bg text-xs">₹370</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10">
                    <div class="flex">
                        <div class="px-2">
                            <div class="img-container">
                                <img class="item-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRscGHT4eNXw1ykTkwoKBtM965Xtjncq8q14A&usqp=CAU">
                            </div>
                        </div>
                        <div class="px-2">
                            <p class="text-sm mb-1"><b>Panner thikka pizza</b></p>
                            <p class="text-grey">Panner with broccoli & alfredo over linguini</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="float-right amt-bg text-xs">₹450</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10">
                    <div class="flex">
                        <div class="px-2">
                            <div class="img-container">
                                <img class="item-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRscGHT4eNXw1ykTkwoKBtM965Xtjncq8q14A&usqp=CAU">
                            </div>
                        </div>
                        <div class="px-2">
                            <p class="text-sm mb-1"><b>Chicken Alfredo pizza</b></p>
                            <p class="text-grey">Grilled chicken sauteed with broccoli & alfredo over linguini</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="float-right amt-bg text-xs">₹570</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10">
                    <div class="flex">
                        <div class="px-2">
                            <div class="img-container">
                                <img class="item-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRscGHT4eNXw1ykTkwoKBtM965Xtjncq8q14A&usqp=CAU">
                            </div>
                        </div>
                        <div class="px-2">
                            <p class="text-sm mb-1"><b>California Pizza</b></p>
                            <p class="text-grey">Grilled chicken sauteed with broccoli & alfredo over linguini</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="float-right amt-bg text-xs">₹250</span>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10">
                    <div class="flex">
                        <div class="px-2">
                            <div class="img-container">
                                <img class="item-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRscGHT4eNXw1ykTkwoKBtM965Xtjncq8q14A&usqp=CAU">
                            </div>
                        </div>
                        <div class="px-2">
                            <p class="text-sm mb-1"><b>greek Pizza</b></p>
                            <p class="text-grey">Grilled chicken sauteed with broccoli & alfredo over linguini</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <span class="float-right amt-bg text-xs">₹370</span>
                </div>
            </div>
            <hr>
            <p class="text-lg mb-4"><span class="float-right mb-4"><b>Total Amount :  </b><span class="text-blue"><b>₹3750</b></span></span></p>
        </div>
    
    </div>
</div>